{% extends 'main.html' %}

{% block title %}

<title>Employees</title>

{% endblock %}

{% block content %}

<div class="list-group">
    <a href="{% url 'employee01' %}" class="list-group-item list-group-item-action">App01 Simple Employee Form</a>

    <a href="{% url 'employee02' %}" class="list-group-item list-group-item-action list-group-item-primary">App02 Employee Form With Float Field</a>

    <a href="{% url 'employee03' %}" class="list-group-item list-group-item-action list-group-item-secondary">App03 Employee Form With Boolean Field</a>
    
    <a href="{% url 'employee04' %}" class="list-group-item list-group-item-action list-group-item-success">App04 Employee Form With Date Field</a>

    <a href="{% url 'employee05' %}" class="list-group-item list-group-item-action list-group-item-danger">App05 Employee Form With DateTime Field</a>

    <a href="{% url 'employee06' %}" class="list-group-item list-group-item-action list-group-item-warning">App06 Employee Form With Email Field</a>

    <a href="{% url 'employee07' %}" class="list-group-item list-group-item-action list-group-item-info">App07 Employee Form With File Field</a>

    <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
    
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
</div>

{% endblock %}